build*/
*.o
*.so
*.dylib
*.dll
__pycache__/
*.pyc
.pytest_cache/

# generated docs
/docs/doxygen/

# built ctypes lib + py artifacts
bindings/python/peclet/morton/libmortonarith_c*
__pycache__/
*.pyc
.pytest_cache/
